.scrollUp {
  position: fixed;
  right: 2rem;
  bottom: -50px;

  width: 40px;
  height: 40px;

  border-radius: 0.4rem;

  background-color: var(--color-principal-dark);

  font-size: 1.5rem;
  color: var(--color-principal-light);

  opacity: 0.8;
  transition: 0.4s;

  z-index: var(--z-tooltip);

  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollUp:hover {
  background-color: var(--color-principal);
}

.show-scroll {
  bottom: 2rem;
}

/* ?=============== BREAKPOINTS =============== ?*/
/* For large devices */
@media screen and (max-width: 992px) {
  .scrollUp {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
  }

  .scrollUp__icon {
    font-size: 1.25rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .show-scroll {
    bottom: 4rem;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .scrollUp {
    right: 1rem;
  }
}
