.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  background-color: var(--color-principal-dark);

  transition: 0.3s;
  z-index: var(--z-fixed);
}

.nav {
  height: calc(var(--header-height) + 1rem);

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo {
  color: var(--color-principal);
}

.nav__logo i {
  color: var(--color-base-light);
  font-style: normal;
}

.nav__toggle {
  font-weight: var(--font-medium);
  color: var(--color-principal);
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex !important;
  }
}

.nav__link {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--color-principal);

  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}

/* ?-- current link --?*/
.active-link {
  color: var(--color-base-light);
}

/* ?-- hover link --?*/
.nav__link:hover {
  color: var(--color-principal-alt);
}

/* ?-- change backgroud header */
.scroll-header {
  /* box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5); */
  transform: translateY(-100px);
}

/* ?=============== BREAKPOINTS =============== ?*/

@media screen and (max-width: 768px) {
  .header {
    top: inherit;
    bottom: 0;
  }

  .nav {
    height: var(--header-height);
  }

  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;

    width: 100%;
    padding: 2rem 1.5rem 4rem;
    border-radius: 1.5rem 1.5rem 0 0;

    background-color: var(--color-base-dark);

    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);

    transition: 0.3s;
  }

  /* ?-- show header menu --?*/

  .nav__menu.show-menu {
    bottom: 0;
    border-top: 2px solid var(--color-principal);
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__icon {
    font-size: 1.5rem;
    margin-bottom: var(--mb-0-5);
    color: var(--color-principal);
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.8rem;

    font-size: 1.5rem;
    cursor: pointer;

    color: var(--color-principal);
  }

  .nav__close:hover {
    color: var(--color-principal-alt);
  }

  .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: block;
  }

  .scroll-header {
    transform: none;
  }
}

@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem;
  }
}
