/* ?=============== GOOGLE FONTS =============== ?*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* ?=============== VARIABLES CSS =============== ?*/
:root {
  --header-height: 3rem;

  /* ?=============== Colors ===============? */
  /*Color mode HSL(hue, saturation, lightness)*/
  --color-base-dark: #0d090f;
  --color-base-dark-opa-low: #0d090fb9;
  --color-base-dark-opa-hard: #0d090f80;
  --color-base-middle: #6a6072;
  --color-base-middle-opa-low: #6a6072b9;
  --color-base-middle-opa-hard: #6a607280;
  --color-base-lite: #9583a5;
  --color-base-lite-opa-low: #9583a5b9;
  --color-base-lite-opa-hard: #9583a580;
  --color-base-light: #f5f5f5;
  --color-base-light-opa-low: #f5f5f5b9;
  --color-base-light-opa-hard: #f5f5f580;

  --color-principal-dark: #4b277d;
  --color-principal: #7037ac;

  --color-secondary: #9583a5;

  /* ?=============== Font and typography ===============? */
  --body-font: "Poppins", sans-serif;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /* ?=============== Font weight ===============? */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ?=============== Margenes Bottom ===============? */
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ?=============== z index ===============? */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* !----- 

  ?violet stylus 1
  --color-base-dark: #0d090f;
  --color-base-middle: #474449;
  --color-base-lite: #817f82;
  --color-base-light: #f5f5f5;

  --color-principal-dark: #411155;
  --color-principal: #74199b;
  --color-principal-alt: #843aa4;

  --color-secondary: #9330a8;

  ?violet stylus 2
  --color-base-dark: #0d090f;
  --color-base-middle: #8483a5;
  --color-base-lite: #817f82;
  --color-base-light: #f5f5f5;

  --color-principal-dark: #411155;
  --color-principal: #74199b;
  --color-principal-alt: #843aa4;

  --color-secondary: #9330a8;

  

  ?blue oceanic

  --color-base-dark: #242433;
  --color-base-middle: #4C4B63;
  --color-base-lite: #67677c;
  --color-base-light: #f5f5f5;

  --color-principal-dark: #08317c;
  --color-principal: #2467e2;
  --color-principal-alt: #3f72cf;

  --color-secondary: #15a87c;

  */
